/* This is the css for the navigation buttonns at upper right corner*/
body {
  background: #420350;
  font-family: helvetica;
  min-height: 1000px;
}

.nav {
  float: right; 
  padding: 20px 0 0 0;
}

li {
  float: left; /* makes list horizontal */
  list-style-type: none;
  margin: 0 0 0 30px; /* separates 'buttons' */
}

a {
  padding: 10px 15px; /* makes target area bigger */
  color: #333; /* rgba backup */
  color: rgba(255,255,255, 0.8);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.3);
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

a:hover, a:focus {
  color: #fff;
  background: #fff; /* rgba backup */
  background: rgba(255,255,255, 0.2);
  -webkit-border-radius: 4px; /* safari & chrome */
  -moz-border-radius: 4px; /* firefox */
  border-radius: 4px; /* futureproof */
}

#columns {
	column-width: 320px;
	column-gap: 15px;
        width: 90%;
	max-width: 1100px;
	margin: 50px auto;
        
}

div#columns figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .5s ease-in-out;
        display: inline-block;
        column-break-inside: avoid;
}

div#columns figure img {
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
	color: #ccc;
  line-height: 1.5;
}

div#columns small { 
  font-size: 1rem;
  float: right; 
  text-transform: uppercase;
  color: #aaa;
} 

div#columns small a { 
  color: #666; 
  text-decoration: none; 
  transition: .5s color;
}

div#columns:hover figure:not(:hover) {
	opacity: 0.5;
}

@media screen and (max-width: 750px) { 
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}
  